<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <!-- <link rel = "stylesheet" href ="styles/asmin.css"></link> -->
    <link rel="shortcut icon" href="#">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style>
		.content {
			display: none;
      margin-top: 40px;
		}
    .margin-right{
    margin-right: 20px !important;
    }
    .options{
      margin-right: 20px;
      margin-top: 10px; margin-bottom: 10px;
      width:fit-content;
      font-size: 20px;
      height: 40px;
      /* padding: 0px 10px; */
    }
    .formMain{
      border-radius: 5px;

      background-color: #f2f2f2;
      padding: 20px;
      text-align: center;
      display: block inline;
      font-size: 20px;
      border: 1rem;
      font-family: 'Times New Roman', Times, serif;
    }
    #hol

    h1 {
      font-size: 30px;
      font-family: 'Times New Roman', Times, serif;
    }

    #applications {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#applications td, #applications th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 15px;
}

#applications tr:nth-child(even){background-color: #f2f2f2;}

#applications tr:hover {background-color: #ddd;}

#applications th {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 15px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.dropdown-item {
  font-size: 15px;
}

.row{
  justify-content: space-evenly;
}
    
	</style>
</head>
<body>
    <div class="container">
        <h1 style="text-align: center;">Welcome to the Admin Page</h1>
        <!-- <div class="btn-group btn-group-toggle btn-group-justified" data-togle="buttons"> -->
           <div class ="row">
            <button type = "button" class="col-sm-3 btn btn-primary btn-lg options" onclick="showContent('button1')" >View Applications</button>
            <!-- <button type = "" class="col-sm-3 btn btn-primary btn-lg options" onclick="showContent('button2')">Update Data</button> -->
            <!-- <button type = "button" class="col-sm-2 btn btn-primary btn-lg options" onclick="showContent('button3')">Update TA-Instructors</button> -->
            <div class="dropdown">
              <button class=" col-sm-12 btn btn-primary btn-lg options dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Update Data
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/admin/addStudent" >Add StudentData</a>
                <a class="dropdown-item" href="/admin/deleteStudent" >Delete StudentData</a>
                <a class="dropdown-item" href="/admin/updateFA" >Change FA</a>
                <a class="dropdown-item" href="/admin/updatePM" >Change Project Mentor</a>
                <a class="dropdown-item" href="/admin/addTA" >Add TA</a>
                <a class="dropdown-item" href="/admin/deleteTA" >Delete TA</a>          
                <a class="dropdown-item" href="/admin/Instructor" >Change Instructor</a>
                <a class="dropdown-item" href="/admin/addFaculty" >Add Faculty</a>
                <a class="dropdown-item" href="/admin/deleteFaculty" >Delete Faculty</a>
                <a class="dropdown-item" href="#"></a>
              </div>
            </div>
            <button type = "button" class="col-sm-3 btn btn-primary btn-lg options" onclick="showContent('button3')">Add Holidays</button>
            <button type = "button" class="col-sm-1 btn btn-primary btn-lg options" onclick="logout()">Logout</button>
        </div>

        <div class="content" style="display: block; "id="button1-content">
            <!-- Content for button 1 -->

            <h2 style="text-align: center;"> 
              <%= title %>
            </h2>
            <div>
              <table id= "applications">
                <thead class="thead-dark" >
                <tr>
                <th>Roll No</th>
                <th>Name Of Scholar</th>
                <th>Department</th>
                <th>Program</th>
                <th>FA's Approval</th>
                <th>Project Mentor's Approval</th>
                <th>View Form</th>
                <!-- <th>Leaves Left</th>
                <th>Type of Leave</th>
                <th>Purpose</th>
                <th>No. of Days</th>
                <th>From</th>
                <th>Till Date</th>
                <th>Nature Of Duty</th>
                <th>Alternate Student Roll No</th>
                <th>Alternate Student Name</th>
                <th>FA's Approval</th>
                <th>Project Mentor's Approval</th>
                <th>Admin Approval</th>
                <th></th> -->
                </tr></thead>
                <% 
                i = 0;
                if(data.length>0){
                  data.forEach((record)=>{
                %>
                  <tr>
                  <td><%= record.rollno %></td>
                  <td><%= record.nameofscholar %></td>
                  <td><%= record.department %></td>
                  <td><%= record.program %></td>
                  <td><%= record.fa_approval%></td>
                  <td><%= record.mentor_approval%></td>

                  <!-- <td><%= record.leavesleft %></td>
                  <td><%= record.typeofleave %></td>
                  <td><%= record.leavepurpose %></td>
                  <td><%= record.daysapplied %></td>
                  <td><%= record.fromdate.toISOString().slice(0,10);%></td>
                  <td><%= record.todate.toISOString().slice(0,10);%></td>
                  <td><%= record.natureofduty %></td>
                  <td><%= record.alternatestudrolno %></td>
                  <td><%= record.alternatestudname %></td> -->
                  <!-- <td><%= record.alternatestudname %></td> -->
                  <!-- <td><%= record.fa_approval %></td>  
                  <td><%= record.mentor_approval %></td>
                  <td>
                    <select name = "adminApprove" id = "ApprovalID" class="approvalStatus" >
                      <option id = "PendingStill" selected><%= record.admin_approval %></option>
                      <option id = "ApproveIt">Approve</option>
                      <option id = "RejectIt">Reject</option>
                    </select> -->
                    <!-- <input type = "text" value = "<%= record.admin_approval %>" readonly />  -->
                  
                  <!-- </td> -->
                  
                  <td ><div>
                <form method = 'get' action = /admin/<%=record.rollno%> >
                  <input type="submit" value="Open Form" style="font-family: Arial, sans-serif; font-size: 16px;" >
                </form> 
                </div>
     
                  <!-- </td>
                  <td ><div>
                          <input type="submit" value="Email" style="font-family: Arial, sans-serif; font-size: 16px;font-weight: bold;">
                  </div>
                  </td> -->
                  
                  <!-- <td><input type="checkbox" name = 'approve'>Approve</td>                       -->
                  </tr>
              <% i++;
              });}
                else{
                %>
                <tr>
                <td colspan= "12"style="color: red;"> No Data Found</td>  
                </tr>
                <% } %>
              </table>
            </div>
            <div>
              <!-- <button type="submit" value="Email"> -->

            </div>
        </div>



        <div class="content" id="button2-content">
          <!-- Content for button 2 -->
          

        </div>
        <div class="content" id="button3-content">
            <div class="formMain">
            <form id = "holidays" method="post" action="/admin">
             <div class="form-group row">
              <label class=" col-sm-2 col-form-label">Holiday </label>    
              <div class="col-sm-8"> 
                <input type="text" class="form-control" id="event" name = "event" style="font-size: 15px;" required>
              </div>
            </div>
            <div class="form-group row">
              <label for=" date-input" class="col-sm-2 col-form-label">Date </label>
              <div class="col-sm-8">
                <input type="date" class="form-control" id="date-input"  name = "date" placeholder="DD/MM/YYYY" style="font-size: 15px;" required>
              </div>
            </div>
            <div class="form-group row">
              <label for=" inputDay" class="col-sm-2">Day </label>
              <select id="day" class="form-control col-sm-8 " name ="day" style="font-size: 15px;height:fit-content">
                <option selected>Choose Day</option>
                <option>Sunday</option>
                <option>Monday</option>
                <option>Tueday</option>
                <option>Wednesday</option>
                <option>Thursday</option>
                <option>Friday</option>
                <option>Saturday</option>
              </select>
            </div>
            <div class="form-group row">
              <label for="inputType" class="col-sm-2">Type</label>
              <select id="typeOfHoliday" class="form-control col-sm-8" name = "type" style="font-size: 15px;">
                <option selected>Choose</option>
                <option>Gazetted</option>
                <option>Restricted</option>
              </select>
            </div>

            <div class="form-group row" style="align-items: center; ">
            <input type = "submit" class="col-sm-3 " id="submitBtn" style=" color:white; background-color: blue; border-radius: 4px; width: 100px; align-items: center; margin-left: 36%; " onclick="added()" value= "Add Holiday"/>           
            </div>
            <p id = "onAdd" style="font-size: 12px; color: green; text-align: center; padding: 2px;"></p>
          </div>
          </form>
        </div>
            <!-- Content for button 3 -->
        </div>
    </div>

	<script>
    var lastClick = 'button1';
    // var isNone = null;
		function showContent(buttonId) {
      const selectedContenthiv = document.getElementById(buttonId + '-content');
      var content = selectedContenthiv.style.display;

      var contenthivs = document.getElementsByClassName('content');
			for (var i = 0; i < contenthivs.length; i++) {
				contenthivs[i].style.display = 'none';
			}

      if(lastClick == buttonId  && content == 'block'){
          selectedContenthiv.style.display = 'none';}
      else
        selectedContenthiv.style.display = 'block';
      lastClick = buttonId;
		}

		function logout() {
			window.location.href = '/logout';
		}


   function added(){
      document.getElementById("onAdd").innerHTML = "Added Successfully!! ";
      setTimeout(()=>{
        document.getElementById("onAdd").innerHTML = '';

      },2000);
    }

   
    // function checkStatus(i){
    //   try{
    //     var v = document.getElementById(i);
    //     console.log(v.value)
    //     // console.log(row);
    //     if(v.value=="Approve")
    //     {
    //       document.getElementsByClassName(i).innerHTML = "<h1>AAA</h1>"
    //       // document.getElementsByClassName(i).style.display='block'
    //       console.log(document.getElementsByClassName(i))
    //       console.log(v.value+"a")
          
    //     }
    //     else if(v.value == "Reject")
    //     {
    //       console.log(v+"r")
    //     }
    //     else
    //     {
    //       console.log(v+"p")
    //     }
    //   }
    //   catch(error){
    //     console.error(error)
    //   }
    // }

 

	</script>
</body>
</html>
