<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Page</title>
    <link rel="shortcut icon" href="#">
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>

    <!-- Latest compiled JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    <style>
        .content {
            display: none;
            margin-top: 40px;
        }


        .header {
            background-color: #4CAF50;
            text-align: center;
            padding: 20px;
        }

        .header h1,
        .header h2 {
            margin: 0;
            color: white;
        }


        form {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin: 10px 0;
            color: #333;
        }

        input,
        textarea {
            width: 100%;
            padding: 12px;
            margin-bottom: 20px;
            box-sizing: border-box;
            border: none;
            border-radius: 5px;
            background-color: #f8f9fa;
            color: #333;
            outline: none;
        }

        textarea {
            resize: vertical;
            height: 130px;
        }

        select {
            width: 100%;
            padding: 12px;
            margin-bottom: 20px;
            box-sizing: border-box;
            border: none;
            border-radius: 5px;
            background-color: #f8f9fa;
            color: #333;
            outline: none;
        }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group::after {
            content: "";
            display: table;
            clear: both;
        }

        .form-group label {
            float: left;
            width: 25%;
            text-align: right;
            margin-right: 2.5%;
            padding-top: 10px;
            font-weight: bold;
            color: #666;
        }

        .form-group input,
        .form-group textarea,
        .form-group select {
            float: left;
            width: 70%;
            margin-left: 2.5%;
        }

        .form-group::after {
            content: "";
            display: table;
            clear: both;
        }

        button[type="submit"] {
            background-color: #4CAF50;
            color: #fff;
            padding: 12px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        button[type="submit"]:hover {
            background-color: #45a049;
        }

        .my-table {
            width: 80%;
            border-collapse: collapse;
            font-family: Arial, sans-serif;
            display: block;
            /* margin-left: 20rem; */
            text-align: center;
        }

        .my-table th,
        .my-table td {
            border: 1px solid #ccc;
            padding: 10px;
        }

        .my-table th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        .my-table tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .my-table tr:hover {
            background-color: #e0e0e0;
        }

        /* .my-table th:first-child, */
        /* .my-table td:first-child { */
        /* border-left: none; */
        /* } */

        /* .my-table th:last-child, */
        /* .my-table td:last-child { */
        /* border-right: none; */
        /* } */

        .my-table th,
        .my-table td:last-child {
            text-align: right;
        }

        input[type="date"] {
            background-color: white;
            border: 1px solid #ccc;
            padding: 0.5em;
            cursor: auto;
            width: 30%;
        }

        input[type="date"]:focus {
            outline: none;
            box-shadow: 0 0 5px #99c;
        }

        #middle,
        #left,
        #right {
            /* background-color: #e0e0e0; */
            /* box-shadow: 0 0 2px #4CAF50; */
            padding: 1rem;
            font-weight: bolder;
            margin-left: 2rem;
            margin-right: auto;

        }

        #middle,
        #left,
        #right :hover {
            cursor: pointer;
        }

        html {
            overflow-x: hidden;
            margin-right: calc(-1 * (100vw - 100%));
        }

        /* 
        #my-table-id {
            border: #45a049;
            border-width: 10px;
            border: solid;
            padding-left: 5%;
            padding-right: 5%;
        }
 */

        .content {
            display: none;
            margin-top: 40px;
        }

        .margin-right {
            margin-right: 20px !important;
        }

        .options {
            margin-right: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
            width: fit-content;
            font-size: larger;

            /* padding: 0px 10px; */
        }

        .formMain {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
            text-align: center;
            display: block inline;
            font-size: 20px;
            border: 1rem;
            font-family: 'Times New Roman', Times, serif;
        }
    </style>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/student">Student Login Page</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <!-- <div class="sb-sidenav-menu-heading">Core</div> -->
                        <a class="nav-link" id="pastAppl" href="#" onclick="showContent('pastAppl');">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Past Applications
                        </a>
                        <div class="sb-sidenav-menu-heading">Interface</div>
                        <a class="nav-link" id="leaveForm" href="#" onclick="showContent('leaveForm');">
                            <div class="sb-nav-link-icon"><i class="fas fa-database"></i></div>
                            Casual/Vacation Leave Application Form
                            <!-- <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div> -->
                        </a>


                        <div class="sb-sidenav-menu-heading">Logout</div>
                        <a class="nav-link" href="/logout">
                            <div class="sb-nav-link-icon"><i class="fas fa-power-off"></i></div>
                            Logout
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    <%= studentInfo[0].rollno %>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Welcome, <%= studentInfo[0].name %>
                    </h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>

                    <div class="card mb-4 content" id="pastAppl-content" style="display:block;">
                        <div class="card-header">
                            <i class="fas fa-table me-2"></i>
                            Past Applications
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Admin's Approval</th>
                                        <th>FA's Approval</th>
                                        <th>Project Mentor's Approval</th>
                                        <th>Leave Type</th>
                                        <th>Reason</th>
                                        <th>Total overflow</th>
                                        <th>current overflow</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Admin's Approval</th>
                                        <th>FA's Approval</th>
                                        <th>Project Mentor's Approval</th>
                                        <th>Leave Type</th>
                                        <th>Reason</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <% leaveapplications.forEach((record)=> { %>

                                        <tr>
                                            <td> <%- new Date(record.fromdate ).toISOString().slice(0, 10); %> </td>
                                            <td> <%- new Date(record.todate).toISOString().slice(0, 10); %> </td>
                                            <td> <%- record.admin_approval %> </td>
                                            <td> <%- record.fa_approval %> </td>
                                            <td> <%- record.mentor_approval %> </td>
                                            <td> <%- record.typeofleave %> </td>
                                            <td> <%- record.leavepurpose %> </td>
                                            <td> <%- record.total_overflow %> </td>
                                            <td> <%- record.current_overflow %> </td>

                                        </tr>

                                        <% } ); %>

                                </tbody>
                            </table>

                        </div>
                    </div>



                    <div class="card mb-4 content" id="leaveForm-content">
                        <div class="card-header">
                            <i class="fas fa-table me-2"></i>
                            Leave Application Form
                        </div>
                        <div class="card-body">

                            <form id="main_form" method="post" action="/submit">

                                <label> Name of the Scholar: </label>
                                <input type="text" name="name" id="Name" readonly required
                                    value=" <%= studentInfo[0].name %>  ">
                                <br>




                                <label>Registration/Roll Number:</label>
                                <input type="text" name="regno" id="RollNo" readonly required
                                    value=" <%= studentInfo[0].rollno %>  ">
                                <br>



                                <label>Department:</label>
                                <input type="text" name="dept" id="Department" readonly required
                                    value=" <%= parseInfo.department %>  ">
                                <br>

                                <label>Program (MTech/MS/PhD):</label>
                                <input type="text" name="program" id="Program" readonly required
                                    value=" <%= parseInfo.batch %>  ">
                                <br>


                                <label>Number of Leaves Left:</label>
                                <input type="text" name="noOfLeavesLeft" id="noOfLeavesLeft" readonly
                                    value=" <%= studentInfo[0].leavesleft %>  ">
                                <br>


                                <!-- <label>Type of Leave:</label> -->
                                <!-- <input type="text" name="leave-type" id="typeOfLeave" required> -->
                                <!-- <button type="drop" name="leave-type" id="typeOfLeave" required>  -->

                                <hr>

                                <label for="typeOfLeave"> Type of leave </label>

                                <select name="leave-type" id="typeOfLeave" required onchange=handleleavetype()>

                                    <option value="0" disabled selected> select appropriate option </option>

                                    <option value="1"> Leave with stipend not exceeding 30 days
                                    </option>
                                    <option value="2"> for attending conferences/seminars </option>
                                    <option value="3"> Women Fellows with less than two
                                        surviving children </option>
                                    <option value="4"> Second maternity leave applications </option>
                                    <option value="5"> Male Fellows of institute HTRA / CSIR </option>
                                    <option value="6"> Other </option>

                                </select>

                                <p type="text" id="typeOfLeaveReason" style="display:none" readonly> </p>

                                <hr>

                                <!-- <hr> -->

                                <!-- <br> -->

                                <label>Purpose of Leave:</label>
                                <textarea name="leave-purpose" id="leavePurpose" required></textarea>
                                <!-- <br> -->



                                <!-- <input type="number" min="1" max="10" name="leave-days" id="noOfDays" required> Day(s), From -->

                                <label for="from"> Start date </label>
                                <input type="date" name="leave-from-date" id="from" onchange=calculateDays() required>


                                <label for="from"> End date </label>
                                <input type="date" name="leave-to-date" id="to" onchange=calculateDays() required>

                                <br>

                                <label>Leave applied for:</label>
                                <input type="number" name="leave-days" id="noOfDays" readonly />

                                <label>Total Overflow days</label>
                                <input type="number" name="Total-overflow-days" id="totaloverflowDays" readonly
                                    value="<%-studentInfo[0].overflow%>" />

                                <label>Current Overflow days</label>
                                <input type="number" name="current-overflow-days" id="overflowDays" readonly
                                    value="0" />




                                <hr>

                                <label> <b> Arrangement of HTRA/HTTA duties during the period of leave </b></label>
                                <br>
                                <!-- <table>
                                <tr>
                                    <th>Nature of HTTA/ HTRA duty</th>
                                    <th>Name and Registration/Roll Number of the alternate scholar handling the duties</th>
                                    <th>Signature of the alternate scholar(s)*</th>
                                </tr>
                                <tr>
                                    <td><input type="text" name="duty-nature" id="dutyNature"></td>
                                    <td><input type="text" name="alternate-scholar-name" id="alternateScholarName"></td>
                                    <td><input type="text" name="alternate-scholar-signature" id="alternateScholarSignature"></td>
                                </tr>
                            </table> -->

                                <label>Nature of HTTA/ HTRA duty</label>
                                <input type="text" name="duty-nature" id="duty-nature"" />
                    
                            <label> Roll Number of the alternate scholar handling the duties</label>
                            <input type=" number" name="alternate-scholar-rollno" id="alternate-scholar-rollno" />

                                <label> Name of the alternate scholar handling the duties</label>
                                <input type="text" name="alternate-scholar-name" id="alternate-scholar-name" />


                                <p> <i>* only if the alternate person(s) agree to carry out the duties of the scholar
                                        applying for
                                        leave. </i>
                                </p>

                                <!-- <label>Date:</label>
                            <input type="date" name="application-date" id="applicationDate" required>
                        <br> -->

                                <hr>

                                <label>Date:</label>
                                <input type="date" name="application-date" id="applicationDate" readonly>

                                <script>
                                    var currentDate = new Date().toISOString().slice(0, 10);
                                    document.getElementById("applicationDate").value = currentDate;
                                    // document.getElementById("from").setAttribute("min", currentDate);
                                    // document.getElementById("to").setAttribute("min", currentDate);
                                </script>

                                <div style="display:flex; flex-direction: row;  padding: auto 0;">
                                    <div>
                                        <label for="applicantSignature">Signature of Applicant:</label>
                                    </div>
                                    <div style="width:50%">
                                        <input type="checkbox" name="applicant-signature" id="applicantSignature"
                                            required style="height: 20px; margin-top: 3%;">
                                    </div>
                                </div>
                                <br>
                                <br>

                                <input type="submit" value="Apply For Leave" class="btn btn-primary"
                                    onclick="Apply()" />
                                <span id="display"></span>
                        </div>
                        <!-- <label>Recommendation of the Guide/Project Mentor:</label> -->
                        <hr>

                        </form>


                    </div>
                </div>


            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; __</div>
                        <!-- <div>
                              <a href="#">Privacy Policy</a>
                              &middot;
                              <a href="#">Terms &amp; Conditions</a>
                          </div> -->
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <!-- <script src="js/scripts.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <!-- <script src="assets/demo/chart-area-demo.js"></script> -->
    <!-- <script src="assets/demo/chart-bar-demo.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <!-- <script src="js/datatables-simple-demo.js"></script> -->









    <script>
        var lastClick = 'button1';
        function showContent(buttonId) {
            const selectedContenthiv = document.getElementById(buttonId + '-content');
            var content = selectedContenthiv.style.display;

            var contenthivs = document.getElementsByClassName('content');
            for (var i = 0; i < contenthivs.length; i++) {
                contenthivs[i].style.display = 'none';
            }

            if (lastClick == buttonId && content == 'block') {
                selectedContenthiv.style.display = 'none';
            }
            else
                selectedContenthiv.style.display = 'block';
            lastClick = buttonId;
        }

        function logout() {
            window.location.href = '/logout';
        }


        function added() {
            document.getElementById("onAdd").innerHTML = "Added Successfully!! ";
            setTimeout(() => {
                document.getElementById("onAdd").innerHTML = '';

            }, 2000);
        }

        window.addEventListener('DOMContentLoaded', event => {

            // Toggle the side navigation
            const sidebarToggle = document.body.querySelector('#sidebarToggle');
            if (sidebarToggle) {
                // Uncomment Below to persist sidebar toggle between refreshes
                // if (localStorage.getItem('sb|sidebar-toggle') === 'true') {
                //     document.body.classList.toggle('sb-sidenav-toggled');
                // }
                sidebarToggle.addEventListener('click', event => {
                    event.preventDefault();
                    document.body.classList.toggle('sb-sidenav-toggled');
                    localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
                });
            }

        });

        // Call the dataTables jQuery plugin
        // $(document).ready(function() {
        //   $('#dataTable').DataTable();
        // });

        window.addEventListener('DOMContentLoaded', event => {
            // Simple-DataTables
            // https://github.com/fiduswriter/Simple-DataTables/wiki

            const datatablesSimple = document.getElementById('datatablesSimple');
            if (datatablesSimple) {
                new simpleDatatables.DataTable(datatablesSimple);
            }
        });






        function countWeekendDays(startDate, endDate) {
            let count = 0;
            let currentDate = new Date(startDate);

            while (currentDate <= endDate) {
                const dayOfWeek = currentDate.getDay();
                if (dayOfWeek === 0 || dayOfWeek === 6) {
                    count++;
                }
                currentDate.setDate(currentDate.getDate() + 1);
            }

            return count;
        }


        async function calculateDays() {

            if (document.getElementById('typeOfLeave').value == "0") {
                alert('Please select type of leave first')
                document.getElementById("from").value = "";
                document.getElementById("to").value = "";
                return
            }

            // Get the start and end dates
            const startDate = new Date(document.getElementById("from").value);
            startDate.setHours(18, 30, 0, 0);
            const endDate = new Date(document.getElementById("to").value);
            endDate.setHours(18, 30, 0, 0);

            if ((!endDate) || (!startDate)) {
                return;
            }

            if (startDate && endDate) {

                if (endDate < startDate) {
                    alert("check start and end dates")
                    document.getElementById("from").value = "";
                    document.getElementById("to").value = "";
                    return;
                }

            }

            var counter = 0
            var lst = []

            '<% for (let i = 0; i < holidays.length; i++) { %>'
            var holidaydate = await new Date('<%= holidays[i].date %>')
            lst.push(holidaydate)
            '<% } %>'

            lst.forEach((y) => {

                // console.log(startDate)
                // console.log(y)
                // console.log(endDate)

                if ((startDate <= y) && (y <= endDate)) {
                    counter = counter + 1;
                }
            })

            // dates.forEach( (r) =>{
            //     console.log(r.date)
            // } )

            console.log(counter)

            // Calculate the number of days between the dates
            const numDays = Math.ceil((endDate - startDate) / (1000 * 60 * 60 * 24));

            // Set the value of the "Number of Days" input field
            const numdays = numDays - countWeekendDays(startDate, endDate) + 1 - counter;

            if (document.getElementById('typeOfLeave').value == '5') {

                var total = Number('<%total_type_5%>')
                if ((15 - total) < 0) {
                    total = 0
                }
                else {
                    total = 15 - total
                }

                if (numdays > total) {

                    alert('You are applying for more than allocated 15 days')

                    const newLeft1 = total - numdays;
                    var leftleaves = Number('<%-studentInfo[0].leavesleft%>')
                    current_overflow = 0

                    if (newLeft1 < 0) {
                        let extra = numdays - total
                        if (leftleaves - extra < 0) {
                            current_overflow = extra - leftleaves
                            document.getElementById("overflowDays").value = current_overflow
                            document.getElementById("overflowDays").style = 'color:red'
                        }
                        else {
                            document.getElementById("overflowDays").value = 0
                            document.getElementById("overflowDays").style = 'color:black'
                        }
                    }
                }
                document.getElementById("noOfDays").value = numdays;
                return
            }

            const allow = document.getElementById('noOfLeavesLeft').value
            let flag = false
            if (numdays >= allow) {
                alert(`You are applying for more days than allocated days`);
                document.getElementById("overflowDays").value = (numdays - allow)
                document.getElementById("overflowDays").style = 'color:red'
                flag = true
            }
            if (!flag) {
                document.getElementById("overflowDays").value = 0
                document.getElementById("overflowDays").style = 'color:black'
            }
            document.getElementById("noOfDays").value = numdays;
        }

        function handleleavetype() {

            const val = document.getElementById("typeOfLeave").value;
            var inputbox = document.getElementById("typeOfLeaveReason");
            var text = "None"
            if (val == "1") {
                text = `Leave with stipend not exceeding 30 days for each completed year of tenure may be allowed. Sanction of leave without stipend may be considered under special circumstances. If the Fellow is away from the Institute for more than a period of 7 days, then all the holidays that come within that period will be counted as leave.`
            }
            else if (val == "2") {
                text = `The Fellow should take permission for visits abroad for attending conferences/seminars etc. The absence for such foreign visits will be treated as on duty.`
            }
            else if (val == "3") {
                text = `Women Fellows with less than two surviving children are entitled to full stipend plus HRA, during the period of absence up to 180 days on grounds of maternity once in the entire duration of PhD. The Fellowship amount for leave period will be paid after the fellow resumes duty and submits a medical certificate in support of actual confinement. It is expected that the Fellow will make up for the research work during the remaining tenure.`
            }
            else if (val == "4") {
                text = `Second maternity leave applications from the women research scholars shall be considered as under “other valid reasons” for grant of leave. Accordingly, the second maternity leave, if granted, shall be without any fellowship. The total duration of the fellowship should be five years from the date of joining and any extension provided beyond five years shall be without fellowship.`
            }
            else if (val == "5") {
                text = `Male Fellows of institute HTRA / CSIR are entitled for 15 days paternity leave during the confinement of his wife on submission of relevant documentary proof. The leave shall be taken at a single stretch, without a break and can be availed only once during the period of fellowship.`
            }
            else {
                inputbox.style.display = "none"
                return;
            }

            inputbox.style.display = "block"
            inputbox.innerHTML = '<i>' + text + '</i>';
        }



    </script>


</body>

</html>