<!DOCTYPE html>
<html>

<head>
    <title>Leave Application</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" />
    <link
        href="https://fonts.googleapis.com/css?family=[Montserrat](poe://www.poe.com/_api/key_phrase?phrase=Montserrat&prompt=Tell%20me%20more%20about%20Montserrat.)|Open+Sans&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base target="_top">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">



    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"> </script>





    <style>
        .header {
            background-color: #4CAF50;
            text-align: center;
            padding: 20px;
        }

        .header h1,
        .header h2 {
            margin: 0;
            color: white;
        }

        #main_form {
            display: none;
        }

        form {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin: 10px 0;
            color: #333;
        }

        input,
        textarea {
            width: 100%;
            padding: 12px;
            margin-bottom: 20px;
            box-sizing: border-box;
            border: none;
            border-radius: 5px;
            background-color: #f8f9fa;
            color: #333;
            outline: none;
        }

        textarea {
            resize: vertical;
            height: 130px;
        }

        select {
            width: 100%;
            padding: 12px;
            margin-bottom: 20px;
            box-sizing: border-box;
            border: none;
            border-radius: 5px;
            background-color: #f8f9fa;
            color: #333;
            outline: none;
        }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group::after {
            content: "";
            display: table;
            clear: both;
        }

        .form-group label {
            float: left;
            width: 25%;
            text-align: right;
            margin-right: 2.5%;
            padding-top: 10px;
            font-weight: bold;
            color: #666;
        }

        .form-group input,
        .form-group textarea,
        .form-group select {
            float: left;
            width: 70%;
            margin-left: 2.5%;
        }

        .form-group::after {
            content: "";
            display: table;
            clear: both;
        }

        button[type="submit"] {
            background-color: #4CAF50;
            color: #fff;
            padding: 12px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        button[type="submit"]:hover {
            background-color: #45a049;
        }

        .my-table {
            width: 80%;
            border-collapse: collapse;
            font-family: Arial, sans-serif;
            display: block;
            /* margin-left: 20rem; */
            text-align: center;
        }

        .my-table th,
        .my-table td {
            border: 1px solid #ccc;
            padding: 10px;
        }

        .my-table th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        .my-table tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .my-table tr:hover {
            background-color: #e0e0e0;
        }

        /* .my-table th:first-child, */
        /* .my-table td:first-child { */
        /* border-left: none; */
        /* } */

        /* .my-table th:last-child, */
        /* .my-table td:last-child { */
        /* border-right: none; */
        /* } */

        .my-table th,
        .my-table td:last-child {
            text-align: right;
        }

        input[type="date"] {
            background-color: white;
            border: 1px solid #ccc;
            padding: 0.5em;
            cursor: auto;
            width: 30%;
        }

        input[type="date"]:focus {
            outline: none;
            box-shadow: 0 0 5px #99c;
        }

        #middle,
        #left,
        #right {
            /* background-color: #e0e0e0; */
            /* box-shadow: 0 0 2px #4CAF50; */
            padding: 1rem;
            font-weight: bolder;
            margin-left: 2rem;
            margin-right: auto;

        }

        #middle,
        #left,
        #right :hover {
            cursor: pointer;
        }

        html {
            overflow-x: hidden;
            margin-right: calc(-1 * (100vw - 100%));
        }

        #my-table-id {
            /* border: #45a049;
            border-width: 10px;
            border: solid; */
            padding-left: 5%;
            padding-right: 5%;
        }

    </style>

    <script>

        function leave1() {
            if (document.getElementById("main_form").style.display == 'block') {
                document.getElementById("main_form").style.display = 'none';
                document.getElementById("middle").style.boxShadow = '0 0 0px'
                return
            }
            document.getElementById("main_form").style.display = 'block';
            document.getElementById("my-table-id").style.display = 'none';
            document.getElementById("middle").style.boxShadow = '0 0 1px';
            document.getElementById("left").style.boxShadow = '0 0 0px';
        }


        function history() {
            if (document.getElementById("my-table-id").style.display == 'block') {
                document.getElementById("my-table-id").style.display = 'none';
                document.getElementById("left").style.boxShadow = '0 0 0px';
                return
            }
            document.getElementById("main_form").style.display = 'none';
            document.getElementById("my-table-id").style.display = 'block';
            document.getElementById("left").style.boxShadow = '0 0 1px';
            document.getElementById("middle").style.boxShadow = '0 0 0px';
        }

    </script>

</head>

<body>
    <div class="header">
        <h1>Leave Application</h1>
        <h2>Welcome, <%- locals.studentInfo[0].name %>
        </h2>
    </div>
    <!-- Navigation bar -->

    <!-- Just an image -->
    <!-- 
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav> -->

    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#colNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="colNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" id="left" onclick=history()> Past applications </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="middle" onclick=leave1()> Casual/Vacation Leave Application </a>
                </li>
                <li class="nav-item">
                    <a id="right" class="nav-link" href="/logout"> Logout </a>
                </li>
            </ul>
        </div>
    </nav>



    <div class="container">

        <!-- 
        <nav class="navbar navbar-light bg-light">

            <div class="navbar">
                <a id="left" onclick=history()> Past applications </a>
                <a id="middle" onclick=leave1()> Casual/Vacation Leave Application </a>
                <a  onclick=leave2()>Other Leave</a>
                <a id="right" href="/logout"> Logout </a>

            </div>

        </nav> -->

        <!-- <hr> -->
        <!-- Leave history table -->
        <div id="main">

        </div>


        <form id="main_form" method="post" action="/submit">

            <label> Name of the Scholar: </label>
            <input type="text" name="name" id="Name" readonly required value=" <%- locals.studentInfo[0].name %>  ">
            <br>




            <label>Registration/Roll Number:</label>
            <input type="text" name="regno" id="RollNo" readonly required
                value=" <%- locals.studentInfo[0].rollno %>  ">
            <br>



            <label>Department:</label>
            <input type="text" name="dept" id="Department" readonly required
                value=" <%- locals.parseInfo.department %>  ">
            <br>

            <label>Program (MTech/MS/PhD):</label>
            <input type="text" name="program" id="Program" readonly required value=" <%- locals.parseInfo.batch %>  ">
            <br>


            <label>Number of Leaves Left:</label>
            <input type="text" name="noOfLeavesLeft" id="noOfLeavesLeft" readonly
                value=" <%- locals.studentInfo[0].leavesleft %>  ">
            <br>


            <!-- <label>Type of Leave:</label> -->
            <!-- <input type="text" name="leave-type" id="typeOfLeave" required> -->
            <!-- <button type="drop" name="leave-type" id="typeOfLeave" required>  -->

            <hr>

            <label for="typeOfLeave"> Type of leave </label>

            <select name="leave-type" id="typeOfLeave" required onchange=handleleavetype()>

                <option value="" disabled selected> select appropriate option </option>

                <option value="Leave with stipend not exceeding 30 days"> Leave with stipend not exceeding 30 days
                </option>
                <option value="for attending conferences/seminars"> for attending conferences/seminars </option>
                <option value="Women Fellows with less than two surviving children"> Women Fellows with less than two
                    surviving children </option>
                <option value="Second maternity leave applications"> Second maternity leave applications </option>
                <option value="Male Fellows of institute HTRA / CSIR"> Male Fellows of institute HTRA / CSIR </option>
                <option value="Other"> Other </option>

            </select>

            <p type="text" id="typeOfLeaveReason" style="display:none" readonly> </p>

            <hr>

            <!-- <hr> -->

            <!-- <br> -->

            <label>Purpose of Leave:</label>
            <textarea name="leave-purpose" id="leavePurpose" required></textarea>
            <!-- <br> -->



            <!-- <input type="number" min="1" max="10" name="leave-days" id="noOfDays" required> Day(s), From -->

            <label for="from"> Start date </label>
            <input type="date" name="leave-from-date" id="from" onchange=calculateDays() required>


            <label for="from"> End date </label>
            <input type="date" name="leave-to-date" id="to" onchange=calculateDays() required>

            <br>

            <label>Leave applied for:</label>
            <input type="number" name="leave-days" id="noOfDays" readonly />

            <hr>

            <label> <b> Arrangement of HTRA/HTTA duties during the period of leave </b></label>
            <br>
            <!-- <table>
            <tr>
                <th>Nature of HTTA/ HTRA duty</th>
                <th>Name and Registration/Roll Number of the alternate scholar handling the duties</th>
                <th>Signature of the alternate scholar(s)*</th>
            </tr>
            <tr>
                <td><input type="text" name="duty-nature" id="dutyNature"></td>
                <td><input type="text" name="alternate-scholar-name" id="alternateScholarName"></td>
                <td><input type="text" name="alternate-scholar-signature" id="alternateScholarSignature"></td>
            </tr>
        </table> -->

            <label>Nature of HTTA/ HTRA duty</label>
            <input type="text" name="duty-nature" id="duty-nature"" />

        <label> Roll Number of the alternate scholar handling the duties</label>
        <input type=" number" name="alternate-scholar-rollno" id="alternate-scholar-rollno" />

            <label> Name of the alternate scholar handling the duties</label>
            <input type="text" name="alternate-scholar-name" id="alternate-scholar-name" />


            <p> <i>* only if the alternate person(s) agree to carry out the duties of the scholar applying for
                    leave. </i>
            </p>

            <!-- <label>Date:</label>
		<input type="date" name="application-date" id="applicationDate" required>
	<br> -->

            <hr>

            <label>Date:</label>
            <input type="date" name="application-date" id="applicationDate" readonly>

            <script>
                var currentDate = new Date().toISOString().slice(0, 10);
                document.getElementById("applicationDate").value = currentDate;
                document.getElementById("from").setAttribute("min", currentDate);
                document.getElementById("to").setAttribute("min", currentDate);
            </script>


            <label for="applicantSignature">Signature of Applicant:</label>
            <input type="checkbox" name="applicant-signature" id="applicantSignature" required>
            <br>
            <br>

            <input type="submit" value="Apply For Leave" class="btn btn-primary" onclick="Apply()" />
            <span id="display"></span>
    </div>
    <!-- <label>Recommendation of the Guide/Project Mentor:</label> -->
    <hr>

    </form>

    <!-- <div class = "table-responsive">
        <table class = "table">
           <thead>
              <tr>
                 <th>Subject</th>
                 <th>Marks</th>
                 <th>Student</th>
              </tr>
           </thead>
        <tbody>
           <tr class = "success">
              <td>Programming</td>
              <td>90</td>
              <td>Amit</td>
           </tr>
           <tr class = "active">
              <td>Web Dev</td>
              <td>92</td>
              <td>Yuvraj</td>
           </tr>
           <tr class = "warning">
              <td>Science</td>
              <td>95</td>
              <td>Sachin</td>
           </tr>
           <tr class = "danger">
              <td>Economics</td>
              <td>80</td>
              <td>Tony</td>
           </tr>
        </tbody>
     </table> -->


    <div class="table-responsive" id="my-table-id">

        <table class=" table table-bordered">

            <% if( leaveapplications.length==0 ) { %>

                <h3> No previous record to show </h3>

                <% } else { %>

                    <!-- <h3>  <%- leaveapplications.length %> previous record found </h3> -->

                    <thead class="thead-dark">
                        <tr>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>admin status</th>
                            <th>faculty advisor status</th>
                            <th>project mentor status</th>
                            <th>Leave Type</th>
                            <th>Reason</th>
                        </tr>
                    </thead>

                    <tbody>

                        <% leaveapplications.forEach((record)=> { %>

                            <tr>
                                <td> <%- record.fromdate.toISOString().slice(0, 10); %> </td>
                                <td> <%- record.todate.toISOString().slice(0, 10); %> </td>
                                <td> <%- record.admin_approval %> </td>
                                <td> <%- record.fa_approval %> </td>
                                <td> <%- record.mentor_approval %> </td>
                                <td> <%- record.typeofleave %> </td>
                                <td> <%- record.leavepurpose %> </td>

                            </tr>
                            <!-- <tr>
                <td>Personal Leave</td>
                <td>2022-05-12</td>
                <td>2022-05-14</td>
                <td>Attending friend's wedding</td>
                <td>Rejected</td>
            </tr>
            <tr>
                <td>Sick Leave</td>
                <td>2022-02-22</td>
                <td>2022-02-25</td>
                <td>Flu</td>
                <td>Pending</td>
            </tr> -->

                            <% } ); %>

                    </tbody>

                    <% } %>

        </table>


    </div>



    <script>

        function countWeekendDays(startDate, endDate) {
            let count = 0;
            let currentDate = new Date(startDate);

            while (currentDate <= endDate) {
                const dayOfWeek = currentDate.getDay();
                if (dayOfWeek === 0 || dayOfWeek === 6) {
                    count++;
                }
                currentDate.setDate(currentDate.getDate() + 1);
            }

            return count;
        }


        async function calculateDays() {
            // Get the start and end dates
            const startDate = new Date(document.getElementById("from").value);
            startDate.setHours(0, 0, 0, 0);
            const endDate = new Date(document.getElementById("to").value);
            endDate.setHours(0, 0, 0, 0);

            if ((!endDate) || (!startDate)) {
                return;
            }

            if (startDate && endDate) {

                if (endDate < startDate) {
                    alert("check start and end dates")
                    document.getElementById("from").value = "";
                    document.getElementById("to").value = "";
                    return;
                }

            }

            var counter = 0
            var lst = []

            '<% for (let i = 0; i < holidays.length; i++) { %>'
            var holidaydate = await new Date('<%= holidays[i].date %>')
            lst.push(holidaydate)
            '<% } %>'

            lst.forEach((y) => {

                // console.log(startDate)
                // console.log(y)
                // console.log(endDate)

                if ((startDate <= y) && (y <= endDate)) {
                    counter = counter + 1;
                }
            })

            // dates.forEach( (r) =>{
            //     console.log(r.date)
            // } )

            console.log(counter)

            // Calculate the number of days between the dates
            const numDays = Math.ceil((endDate - startDate) / (1000 * 60 * 60 * 24));

            // Set the value of the "Number of Days" input field
            const numdays = numDays - countWeekendDays(startDate, endDate) + 1 - counter;

            const allow = document.getElementById('noOfLeavesLeft').value

            if (numdays >= allow) {
                alert(`You can apply for max ${allow} days`);
                document.getElementById("to").value = ""
                return;
            }

            document.getElementById("noOfDays").value = numdays;
        }

        function handleleavetype() {

            const val = document.getElementById("typeOfLeave").value;
            var inputbox = document.getElementById("typeOfLeaveReason");
            var text = "None"
            if (val == "Leave with stipend not exceeding 30 days") {
                text = `Leave with stipend not exceeding 30 days for each completed year of tenure may be allowed. Sanction of leave without stipend may be considered under special circumstances. If the Fellow is away from the Institute for more than a period of 7 days, then all the holidays that come within that period will be counted as leave.`
            }
            else if (val == "for attending conferences/seminars") {
                text = `The Fellow should take permission for visits abroad for attending conferences/seminars etc. The absence for such foreign visits will be treated as on duty.`
            }
            else if (val == "Women Fellows with less than two surviving children") {
                text = `Women Fellows with less than two surviving children are entitled to full stipend plus HRA, during the period of absence up to 180 days on grounds of maternity once in the entire duration of PhD. The Fellowship amount for leave period will be paid after the fellow resumes duty and submits a medical certificate in support of actual confinement. It is expected that the Fellow will make up for the research work during the remaining tenure.`
            }
            else if (val == "Second maternity leave applications") {
                text = `Second maternity leave applications from the women research scholars shall be considered as under “other valid reasons” for grant of leave. Accordingly, the second maternity leave, if granted, shall be without any fellowship. The total duration of the fellowship should be five years from the date of joining and any extension provided beyond five years shall be without fellowship.`
            }
            else if (val == "Male Fellows of institute HTRA / CSIR") {
                text = `Male Fellows of institute HTRA / CSIR are entitled for 15 days paternity leave during the confinement of his wife on submission of relevant documentary proof. The leave shall be taken at a single stretch, without a break and can be availed only once during the period of fellowship.`
            }
            else {
                inputbox.style.display = "none"
                return;
            }

            inputbox.style.display = "block"
            inputbox.innerHTML = text;

        }

    </script>



</body>

</html>